.dashboard{

    &__wrapper{
        display: flex;
        height: 100%;
    }

    &__main{
        flex-grow: 1;
    }

    &__content{
        margin: 50px 0 0 100px;
    }

    &__middleBar{
        margin: 30px;
        display: flex;
        justify-content: space-between;
    }


    &__headline{
        margin: 20px;
    }

    &__a{
        cursor: pointer;
        text-decoration: none;
        color: #000;
        border-radius: 10px;
        border: 1px solid rgb(196, 196, 196);
        padding: 10px 20px;
   }
}


.dashboardCard{

    &__wrapper{
        display: flex;
    }
    &__card{
        width: 500px;
        max-width: 90%;
        height: 400px;
        margin: 20px;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        background-position: center;


        &--workshop{
            background-image: linear-gradient(rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.616)), url(../../../public/images/workshop-card.jpg);
        }
        &--post{
            background-image: linear-gradient(rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.616)), url(../../../public/images/desk.jpg);
        }
    }

    &__title{
        padding: 40px 0;
        font-size: 22px;
    }
    &__subtitle{
        margin: 20px 0;
    }



    &__btn{       
        display: inline-block;
        margin: 30px auto;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        color: #fff !important;
    }

}



.table{

    &__header{

    margin: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(228, 228, 228);
    border-bottom: 1px solid rgb(197, 197, 197);
    border-radius: 3px;
    }

    &__body{
        display: flex;
        justify-content: center;
    }
    &__form{
        padding: 10px 0;
        border-bottom: 1px solid rgb(197, 197, 197);
        width: 400px;
        max-width: 90%;
        display: flex;
        flex-direction: column;
       
        input{
            padding: 5px 0;
            margin: 10px 0;
        }

        select{
            padding: 5px 0;
            margin: 10px 0;
        }
    }

    &__checkboxWrapper{
        
    }

}



.tableAll{

    &__body{
        display: flex;
        flex-direction: column;
        margin: 30px;

        &--past{
            border-top: 1px solid rgb(58, 58, 58);
        }
    }
    &__li{
        display: flex;
        justify-content: space-between;
        align-items: center;

        >a{
            color: #000;
            text-decoration: none;
            margin: 10px;
        }
    }

    &__separator{
        margin: 0 30px;
    }

    &__name{
        margin: 0 10px;
    }
    &__btnWrapper{
        display: flex;
        align-items: center;
    }
    &__form{
        margin: 0 5px;
        padding: 10px 0;
        display: flex;
        flex-direction: column;

        input{
            padding: 8px 25px;
            margin: 10px 0;
        }

    }
    &__title{
        margin: 20px 0;
    }
    &__text{
        margin: 20px 0;
    }
    
}





