.authForm{

    &__wrapper{
        width: 450px;
        max-width: 450px;
        border-radius: 5px;
        margin: 10px;
        
    }

    &__input{
        display: block;
        margin: 20px auto;
        padding: 5px;
        width: 80%;
        border: solid rgb(211, 211, 211) 1px;
    }
    &__submit{
        display: block;
        margin: 30px auto;
        color: #fff;
    
    }
}

