@use '../base/variables.scss' as *;

.btn{
    border: none;
    font-size: 14px;
    padding: 8px 25px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;

    &--yellow{
        background-color: $yellow;
        color: rgb(104, 104, 104);
    }

    &--green{
        background-color: rgb(57, 161, 66);
        color: rgb(255, 255, 255);
    }
    &--blue{
        background-color: rgb(42, 147, 196);
        color: rgb(255, 255, 255);
    }
    &--red{
        background-color: rgb(216, 50, 50);
        color: rgb(255, 255, 255);
    }

    &--center{
        display: block;
        margin: 50px auto;
    }
}