.sidebar{

    &__wrapper{
        position: absolute;
        height: 100vh;
        overflow: hidden;
        background-color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
       
        
        &:hover{
            .sidebar__menuTitle{
                width: 150px;
            }
        }

    }

    &__logo{
        height: 50px;
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        
    }

    &__li{
        display: flex;
        justify-content: center;
        &:hover{
            background-color: rgb(26, 26, 26);
        }
    }

    &__icon{
        width: 23px;
        height: 23px;
        margin: 0 20px;
    }

    &__menu{
      
 
        &Item{
            display: flex;
            width: 100%;
            padding: 10px 0;
            text-decoration: none;
            color: #fff;
        }

        &Title{
            width: 0;
            transition: all 0.3s;
        }

    }


}