.topBar{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 30px;
    flex-grow: 1;

    &__auth{
        position: relative;
    }

    &--dashboard{
        height: 50px;
        padding: 0 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-bottom: 1px solid rgb(192, 192, 192);
    }

    &__logo{
        margin-right: auto;
    }
    &__login{
        padding: 2px 7px;
        background-color: transparent;
        border: 1px solid rgb(77, 77, 77);
        border-radius: 5px;
        text-decoration: none;
        color: #000;
    }


}