* {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.authPageHeight {
  height: 100%;
}

.authPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  flex-grow: 1;
}
.authPage__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #000;
}
.authPage__a {
  align-self: flex-end;
  margin: 20px;
  cursor: pointer;
  background-color: #fff;
  text-decoration: none;
  color: #000;
}
.authPage__p {
  color: #fff;
}
.authPage__h3 {
  color: #fff;
}

.dashboard__wrapper {
  display: flex;
  height: 100%;
}
.dashboard__main {
  flex-grow: 1;
}
.dashboard__content {
  margin: 50px 0 0 100px;
}
.dashboard__middleBar {
  margin: 30px;
  display: flex;
  justify-content: space-between;
}
.dashboard__headline {
  margin: 20px;
}
.dashboard__a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
  border-radius: 10px;
  border: 1px solid rgb(196, 196, 196);
  padding: 10px 20px;
}

.dashboardCard__wrapper {
  display: flex;
}
.dashboardCard__card {
  width: 500px;
  max-width: 90%;
  height: 400px;
  margin: 20px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  background-position: center;
}
.dashboardCard__card--workshop {
  background-image: linear-gradient(rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.616)), url(/images/workshop-card.jpg?e53999666b91a49debda360c2ecc332c);
}
.dashboardCard__card--post {
  background-image: linear-gradient(rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.616)), url(/images/desk.jpg?39491267ea66a9a1ad4b10363113d5ca);
}
.dashboardCard__title {
  padding: 40px 0;
  font-size: 22px;
}
.dashboardCard__subtitle {
  margin: 20px 0;
}
.dashboardCard__btn {
  display: inline-block;
  margin: 30px auto;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff !important;
}

.table__header {
  margin: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(228, 228, 228);
  border-bottom: 1px solid rgb(197, 197, 197);
  border-radius: 3px;
}
.table__body {
  display: flex;
  justify-content: center;
}
.table__form {
  padding: 10px 0;
  border-bottom: 1px solid rgb(197, 197, 197);
  width: 400px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
}
.table__form input {
  padding: 5px 0;
  margin: 10px 0;
}
.table__form select {
  padding: 5px 0;
  margin: 10px 0;
}
.tableAll__body {
  display: flex;
  flex-direction: column;
  margin: 30px;
}
.tableAll__body--past {
  border-top: 1px solid rgb(58, 58, 58);
}
.tableAll__li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tableAll__li > a {
  color: #000;
  text-decoration: none;
  margin: 10px;
}
.tableAll__separator {
  margin: 0 30px;
}
.tableAll__name {
  margin: 0 10px;
}
.tableAll__btnWrapper {
  display: flex;
  align-items: center;
}
.tableAll__form {
  margin: 0 5px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
.tableAll__form input {
  padding: 8px 25px;
  margin: 10px 0;
}
.tableAll__title {
  margin: 20px 0;
}
.tableAll__text {
  margin: 20px 0;
}

.btn {
  border: none;
  font-size: 14px;
  padding: 8px 25px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
.btn--yellow {
  background-color: rgb(203, 221, 39);
  color: rgb(104, 104, 104);
}
.btn--green {
  background-color: rgb(57, 161, 66);
  color: rgb(255, 255, 255);
}
.btn--blue {
  background-color: rgb(42, 147, 196);
  color: rgb(255, 255, 255);
}
.btn--red {
  background-color: rgb(216, 50, 50);
  color: rgb(255, 255, 255);
}
.btn--center {
  display: block;
  margin: 50px auto;
}

.topBar {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 30px;
  flex-grow: 1;
}
.topBar__auth {
  position: relative;
}
.topBar--dashboard {
  height: 50px;
  padding: 0 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid rgb(192, 192, 192);
}
.topBar__logo {
  margin-right: auto;
}
.topBar__login {
  padding: 2px 7px;
  background-color: transparent;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 5px;
  text-decoration: none;
  color: #000;
}

.dropdown__wrapper {
  position: relative;
  padding: 0 30px;
  z-index: 10;
}
.dropdown__btn {
  padding: 2px 7px;
  background-color: transparent;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.dropdown__username {
  margin: 0 2px;
}
.dropdown__icon {
  margin: 0 2px;
}
.dropdown__listWrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid rgb(212, 212, 212);
}
.dropdown__dashboard {
  text-decoration: none;
  padding: 4px 10px;
  font-size: 13px;
  color: #000;
}
.dropdown__dashboard:hover {
  color: rgb(44, 44, 44);
}
.dropdown__logout {
  padding: 4px 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 13px;
  color: #000;
}
.dropdown__logout:hover {
  color: rgb(44, 44, 44);
}

.authForm__wrapper {
  width: 450px;
  max-width: 450px;
  border-radius: 5px;
  margin: 10px;
}
.authForm__input {
  display: block;
  margin: 20px auto;
  padding: 5px;
  width: 80%;
  border: solid rgb(211, 211, 211) 1px;
}
.authForm__submit {
  display: block;
  margin: 30px auto;
  color: #fff;
}

.contactForm__wrapper {
  background-color: #fff;
  max-width: 450px;
  border-radius: 5px;
  margin: 100px;
  overflow: auto;
}
.contactForm__h2 {
  margin: 30px 80px;
  color: rgb(71, 71, 71);
}
.contactForm__input {
  display: block;
  margin: 20px auto;
  padding: 5px;
  width: 80%;
  border: solid rgb(211, 211, 211) 1px;
}
.contactForm__submit {
  display: block;
  margin: 30px auto;
  color: #fff;
  overflow: auto;
}

.accordion__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 30px 0;
}
.accordion__column {
  position: relative;
  margin: 20px 10px;
  width: 450px;
  max-width: 95%;
  min-width: 250px;
}
.accordion__single {
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 5px;
}
.accordion__innerWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion__hidden {
  max-height: 0;
  transition: 0.3s all;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
}
.accordion__hiddenSpan {
  text-align: center;
  color: rgb(17, 17, 17);
  font-size: 14px;
  margin: 10px;
}
.accordion__toggle {
  max-height: 100px;
}
.accordion__span {
  margin: 15px;
}
.accordion__circle {
  position: relative;
  margin-right: 20px;
  height: 20px;
  width: 20px;
  background-color: rgb(203, 221, 39);
  border-radius: 50px;
}
.accordion__circle::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
.accordion__circle::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.sidebar__wrapper {
  position: absolute;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar__wrapper:hover .sidebar__menuTitle {
  width: 150px;
}
.sidebar__logo {
  height: 50px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.sidebar__li {
  display: flex;
  justify-content: center;
}
.sidebar__li:hover {
  background-color: rgb(26, 26, 26);
}
.sidebar__icon {
  width: 23px;
  margin: 0 20px;
}
.sidebar__menuItem {
  display: flex;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: #fff;
}
.sidebar__menuTitle {
  width: 0;
  transition: all 0.3s;
}

.flash {
  text-align: center;
  margin: 10px 0;
}

.footer {
  background-color: rgb(10, 10, 10);
  overflow: auto;
}
.footer__h6 {
  text-align: center;
  margin: 30px 0;
  color: rgb(180, 180, 180);
}

@media only screen and (max-width: 1000px) {
  .section1__top {
    flex-direction: column;
  }
  .section1__left {
    width: 100%;
  }
  .section1__left::after {
    font-size: 400px;
  }
}
.section1 {
  width: 100%;
  background-color: rgb(10, 10, 10);
}
.section1__top {
  display: flex;
}
.section1__left {
  position: relative;
  overflow: hidden;
  width: 60%;
  min-height: 600px;
}
.section1__left::after {
  content: "Ps";
  position: absolute;
  top: -100px;
  left: 0px;
  font-size: 600px;
  letter-spacing: 20px;
  color: rgba(253, 249, 14, 0.178);
  transform: rotate(-10deg);
}
.section1__circle {
  position: absolute;
  width: 600px;
  height: 600px;
  border: 4px dashed rgba(216, 213, 29, 0.37);
  border-radius: 500px;
  top: 0px;
  left: 0px;
  transform: translate(-30%, -30%);
}
.section1__innerLeft {
  width: 60%;
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
}
.section1__smallImg {
  width: 200px;
}
.section1__right {
  width: 40%;
  background-image: url("/images/conference_vertical.jpg");
  background-position: right;
  background-repeat: no-repeat;
}
.section1__h1 {
  font-size: 100px;
  margin: 100px;
  color: rgb(240, 240, 240);
  letter-spacing: 5px;
}
.section1__h6 {
  margin: 50px;
  color: rgb(240, 240, 240);
  line-height: 25px;
}

.section2 {
  background-color: rgb(10, 10, 10);
  overflow: hidden;
  position: relative;
  padding-bottom: 50px;
}
.section2__circle {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 3px dashed rgba(216, 213, 29, 0.37);
  border-radius: 500px;
  top: 0px;
  right: 0px;
  transform: translate(30%, -30%);
}
.section2__h6 {
  margin: 100px auto 50px;
  width: 400px;
  color: rgb(240, 240, 240);
  line-height: 25px;
  text-align: center;
}

.section3 {
  background-color: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
}
.section3::before {
  content: "O";
  position: absolute;
  font-size: 1000px;
  bottom: 0px;
  left: 50%;
  color: rgba(230, 230, 230, 0.349);
}
.section3__h2 {
  margin: 100px 0 100px 300px;
  font-size: 70px;
  color: rgb(54, 54, 54);
}

.iconContainer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 800px;
  margin-left: 200px;
  padding-bottom: 100px;
}
.iconContainer__icon {
  width: 50px;
  margin: 30px 0;
}
.iconContainer__single {
  width: 50%;
}
.section4 {
  height: 500px;
}
.section4__imgContainer {
  height: 100%;
  width: 100%;
  background-image: url("/images/public-speaking2.jpg");
  background-size: cover;
  background-position: right;
}

.home__opinie {
  overflow: hidden;
  position: relative;
}
.home__opinie::before {
  content: "O";
  position: absolute;
  font-size: 800px;
  bottom: 0px;
  left: -100px;
  color: rgba(230, 230, 230, 0.349);
  transform: rotate(90deg);
}
.home__opinie__h1 {
  margin: 100px auto;
  display: block;
  text-align: center;
  font-size: 70px;
  letter-spacing: 6px;
  color: rgb(85, 85, 85);
}
.home__opinie__sliderWrapper {
  position: relative;
  margin: 150px auto;
  width: 850px;
}
.home__opinie__slider {
  width: 100%;
  box-shadow: 1px 1px 5px 1px rgb(240, 240, 240);
  border-radius: 10px;
  transition: all 0.3s;
  display: none;
  overflow: auto;
  padding-top: 5px;
}
.home__opinie__moveLeft {
  position: absolute;
  height: 15px;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}
.home__opinie__moveRight {
  position: absolute;
  height: 15px;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}
.home__opinie__icon {
  display: block;
  margin: auto;
  width: 50px;
}
.home__opinie__pTestimonial {
  color: rgb(102, 102, 102);
  margin: 0 50px;
  text-align: center;
  line-height: 25px;
}
.home__opinie__pName {
  color: rgb(41, 41, 41);
  font-weight: bolder;
  text-align: center;
  margin: 40px;
}

.section-faq {
  background-color: rgb(10, 10, 10);
  overflow: hidden;
}
.section-faq__h1 {
  text-align: center;
  color: #fff;
  font-size: 70px;
  margin: 30px 0;
}

.section-endingBanner {
  overflow: hidden;
  position: relative;
}
.section-endingBanner::before {
  content: "O";
  position: absolute;
  font-size: 400px;
  bottom: -300px;
  right: -100px;
  color: rgba(230, 230, 230, 0.349);
}
.section-endingBanner__h5 {
  text-align: center;
  margin: 100px;
  font-weight: 100;
  font-style: italic;
}

.section-contact {
  position: relative;
  overflow: auto;
  width: 100%;
  background-image: linear-gradient(to left, rgba(95, 95, 95, 0.801), rgba(95, 95, 95, 0.274)), url("/images/auditorium.jpg");
  background-size: cover;
}

@media only screen and (max-width: 1000px) {
  .section1__top {
    flex-direction: column;
  }
  .section1__left {
    width: 100%;
    min-height: auto;
  }
  .section1__left::after {
    font-size: 400px;
  }
  .section1__right {
    width: 100%;
    height: 300px;
    background-position: center;
  }
  .section1__h1 {
    text-align: center;
  }
  .section1__innerLeft {
    margin: 50px auto;
  }
  .section3::before {
    content: "O";
    position: absolute;
    font-size: 1000px;
    bottom: 0px;
    left: 50%;
    color: rgba(230, 230, 230, 0.349);
  }
  .section3__h2 {
    margin: 100px auto;
    text-align: center;
  }
  .iconContainer {
    width: auto;
    margin: 50px 30px;
    justify-content: center;
  }
  .iconContainer__icon {
    width: 50px;
    margin: 30px 0;
  }
  .iconContainer__single {
    width: 350px;
    margin: 10px;
    text-align: center;
  }
  .home__opinie__sliderWrapper {
    margin: 50px auto;
    width: 550px;
  }
}
@media only screen and (max-width: 700px) {
  .section1__h1 {
    font-size: 50px;
    margin: 50px;
  }
  .section1__innerLeft {
    width: 100%;
  }
  .section1__circle {
    width: 300px;
    height: 300px;
    border: 3px dashed rgba(216, 213, 29, 0.37);
  }
  .section2__h6 {
    margin: 100px 20px 50px;
    width: auto;
  }
  .section2__circle {
    width: 200px;
    height: 200px;
    border: 2px dashed rgba(216, 213, 29, 0.37);
  }
  .section3__h2 {
    font-size: 50px;
  }
  .section4 {
    height: 300px;
  }
  .section4__imgContainer {
    height: 100%;
    width: 100%;
    background-image: url("/images/public-speaking2.jpg");
    background-size: cover;
    background-position: right;
  }
  .home__opinie__sliderWrapper {
    margin: 50px 20px;
    width: auto;
  }
  .home__opinie__h1 {
    font-size: 50px;
  }
  .home__opinie__moveLeft {
    left: 0px;
    transform: translateY(-50%);
  }
  .home__opinie__moveRight {
    right: 0px;
  }
  .accordion__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .accordion__column {
    margin: 0 10px;
    width: 450px;
    max-width: 95%;
    min-width: 250px;
  }
  .contactForm__wrapper {
    width: auto;
    border-radius: 5px;
    margin: 100px auto;
    overflow: auto;
  }
  .contactForm__h2 {
    margin: 30px auto;
    text-align: center;
  }
}
